
  <div id="<%= dom_id(type) %>">
  
    <p class="h1-like">
      <div class="markdown-content mb-4">
        <h1><%= link_to type.nom.capitalize, type_path(type), class: "h2 class='my-5'" %></h1>
      </div>
    </p>

    <h3>Familles associées :</h3>
    <% if type.familles.any? %>
      <ul>
        <% type.familles.each do |famille| %>
          <li><%= link_to famille.nom, famille_path(famille) %></li>
        <% end %>
      </ul>
    <% else %>
      <p>Aucune famille associée. <%= link_to "Créer une nouvelle famille", new_famille_path(type_id: type.id) %></p>
    <% end %>
  </div>


