/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Styles généraux pour markdown-content */
.markdown-content {
  font-family: monaco, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.6;
  padding: 20px;
  margin-bottom: 20px;
  /*background-color: #f9f9f9;*/
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* Centrer et augmenter la taille des h1 dans markdown-content */
.markdown-content h1 {
  text-align: center;
  font-size: 2em; /* 2em est juste un exemple, ajustez selon vos besoins */
}

/* Styliser d'autres éléments Markdown si nécessaire */
.markdown-content h2 {
  font-size: 1.75em;
}

.markdown-content p {
  margin-bottom: 1em;
}

.markdown-content ul,
.markdown-content ol {
  padding-left: 20px;
  margin-bottom: 1em;
}

.markdown-content img {
  max-width: 100%;
  height: auto;
}

.markdown-content blockquote {
  border-left: 4px solid #ccc;
  padding-left: 16px;
  color: #666;
  margin-left: 0;
  margin-right: 0;
}

.h1-like {
  font-size: 2em; /* Taille de police similaire à celle de h1 */
  font-weight: bold; /* Rendre le texte en gras */
  margin-top: 0.67em; /* Espacement avant similaire à h1 */
  margin-bottom: 0.67em; /* Espacement après similaire à h1 */
  text-align: center; /* Centre le texte horizontalement */
  /* Ajoutez d'autres styles ici selon vos besoins */
}

.h2-like {
  font-size: 24px; /* Taille de la police similaire à h2 */
  font-weight: bold; /* Rend le texte en gras */
  margin-top: 20px; /* Espacement au-dessus du h2-like */
  margin-bottom: 10px; /* Espacement en dessous du h2-like */
  color: #333; /* Couleur du texte */
  /* Vous pouvez ajouter d'autres propriétés CSS selon le style que vous souhaitez */
}

.h3-like {
  font-size: 20px; /* Taille de la police similaire à h3 */
  font-weight: bold; /* Rend le texte en gras */
  margin-top: 15px; /* Espacement au-dessus du h3-like */
  margin-bottom: 10px; /* Espacement en dessous du h3-like */
  color: #444; /* Couleur du texte, légèrement plus foncée que h2-like */
  /* Ajoutez ici d'autres propriétés CSS selon le style que vous souhaitez */
}

.plantes-grid {
  display: flex;
  flex-wrap: wrap;
  margin: -10px; /* Ajustez selon vos besoins */
}

.plante {
  flex: 1 1 50%; /* Chaque élément de plante prend jusqu'à 50% de la largeur du conteneur */
  padding: 10px; /* Ajustez l'espacement selon vos besoins */
  box-sizing: border-box;
}

.plante-image {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

@media print {
  body, html {
    width: 210mm;
    height: 297mm;
    margin: 0;
    padding: 0;
  }

  .print-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }

  .print-header {
    text-align: center;
    margin: 20mm;
  }

  .print-footer {
    margin: 20mm;
  }

  .print-main {
    text-align: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .page-break {
    display: block;
    page-break-before: always;
  }

  .hide-on-print {
    display: none;
  }
}

.link-famille {
  color: #007bff; /* Bleu Bootstrap par défaut pour les liens */
  text-decoration: underline;
  cursor: pointer;
}

.link-famille:hover {
  color: #0056b3; /* Couleur au survol */
}
